<!-- Card Blog -->
<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
  <!-- Title -->
  <div class="max-w-2xl mb-10">
    <h2 class="text-2xl font-bold md:text-4xl md:leading-tight dark:text-white">
      Upcoming Events
    </h2>
    <p class="mt-1 text-gray-600 dark:text-gray-400">
      See how game-changing companies are making the most of every engagement
      with Preline.
    </p>
  </div>
  <!-- End Title -->

  <!-- Grid -->
  <div class="grid sm:grid-cols-2 lg:grid-cols-4 gap-6">
    <app-event-card
      [data]="event"
      *ngFor="let event of events"
    ></app-event-card>
  </div>
  <!-- End Grid -->
</div>
<!-- End Card Blog -->
