<div class="fixed inset-0 flex items-center justify-center z-40">
  <div class="bg-black opacity-30 fixed inset-0"></div>
  <div
    class="relative flex flex-col bg-white shadow-lg rounded-xl dark:bg-gray-800 sm:max-w-lg sm:w-full sm:mx-auto max-h-[90%] lg:min-w-[800px]"
  >
    <!-- Close Button -->
    <div class="flex flex-row items-center justify-between px-5 py-4">
      <div class="text-start">
        <h3 class="text-xl font-medium text-gray-800 dark:text-gray-200">
          {{ title }}
        </h3>
      </div>
      <div>
        <button
          type="button"
          class="flex justify-center items-center w-7 h-7 text-sm font-semibold rounded-lg border border-transparent text-gray-800 hover:bg-gray-100 shadow-sm hover:shadow-md disabled:opacity-50 disabled:pointer-events-none dark:text-white dark:border-transparent dark:hover:bg-gray-700 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600"
          (click)="activeModal.close(null)"
        >
          <span class="sr-only">Close</span>
          <svg
            class="flex-shrink-0 w-4 h-4"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path d="M18 6 6 18" />
            <path d="m6 6 12 12" />
          </svg>
        </button>
      </div>
    </div>
    <!-- End Close Button -->
    <ng-content></ng-content>
  </div>
</div>
