<div class="block mx-auto">
  <label for="icon" class="sr-only">Search for event</label>
  <div class="relative">
    <div
      class="absolute inset-y-0 start-0 flex items-center pointer-events-none z-20 ps-4"
    >
      <svg
        class="flex-shrink-0 h-4 w-4 text-gray-500"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <circle cx="11" cy="11" r="8"></circle>
        <path d="m21 21-4.3-4.3"></path>
      </svg>
    </div>
    <input
      type="text"
      id="icon"
      name="icon"
      class="py-2 px-4 ps-11 pe-20 block w-92 md:w-96 bg-transparent border border-gray-200 rounded-lg text-sm text-gray-600 focus:z-10 focus:border-gray-300 placeholder:text-gray-400 dark:border-gray-600 dark:hover:border-gray-700 dark:text-gray-300"
      placeholder="Search for event"
    />
    <div
      class="absolute inset-y-0 end-0 flex items-center pointer-events-none z-20 pe-4"
    >
      <span class="text-gray-400">Ctrl + /</span>
    </div>
  </div>
</div>
