<div class="flex flex-row px-16 py-10">
  <!-- ========== MAIN CONTENT ========== -->
  <!-- Sidebar -->
  <div
    id="application-sidebar"
    class="w-80 h-full shadow-md rounded-lg border border-b-gray-200 dark:border-b-gray-700 bg-white border-e border-gray-200 pt-7 pb-10 overflow-y-auto lg:block lg:translate-x-0 lg:end-auto lg:bottom-0 [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-track]:bg-gray-100 [&::-webkit-scrollbar-thumb]:bg-gray-300 dark:[&::-webkit-scrollbar-track]:bg-slate-700 dark:[&::-webkit-scrollbar-thumb]:bg-slate-500 dark:bg-gray-800 dark:border-gray-700"
  >
    <app-filter-section></app-filter-section>
  </div>
  <!-- End Sidebar -->

  <!-- Content -->
  <div class="w-full ps-8">
    <!-- Grid -->
    <div class="grid sm:grid-cols-2 lg:grid-cols-4 gap-6">
      <app-event-card
        [data]="event"
        *ngFor="let event of events"
      ></app-event-card>
    </div>
    <!-- End Grid -->
  </div>
  <!-- End Content -->
  <!-- ========== END MAIN CONTENT ========== -->
</div>
